@model Application.Models.Form.Form
@{
    ViewData["Title"] = "Home Page";
}

@if (User.IsInRole("User") || User.IsInRole("Admin"))
{
    <form style="max-width: 300px; margin:auto; margin-top: 50px" asp-controller="Form" asp-action="NewForm" method="post">
        <div class="mb-3 text-center">
            <button type="submit" class="btn btn-primary">Create Form</button>
        </div>
    </form>
}