@using Application.Models;
@model List<UserModel>;
@{
    ViewData["Title"] = "Home Page";
}

@if (User.IsInRole("User"))
{
    <h2 class="text-center">Hello User</h2>
}

@if (User.IsInRole("Admin"))
{
    <h2 class="text-center">Hello Admin</h2>
}
