@using Application.Models.Intagration;
@model SalesforceUser;
@{
    ViewData["Title"] = "Settings";
    Layout = "~/Views/Shared/_BackLayout.cshtml";
}

<form asp-action="Integrate" method="post">
    <div class="mb-3">
        <label class="form-label">The company where you work</label>
        <input asp-for="CompanyName" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Firstname</label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Lastname</label>
        <input asp-for="LastName" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Post</label>
        <input asp-for="Job" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Phone</label>
        <input asp-for="Phone" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">City</label>
        <input asp-for="City" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Birth Year</label>
        <input asp-for="BirthYear" class="form-control" type="number" min="1900" max="2025" />
    </div>
    <button type="submit" class="btn btn-primary">Send to Salesforce</button>
</form>
